<!doctype html>
<html lang="zh-CN" edition="">
<head>
    <meta charset="utf-8">
    <!--self-accomodate-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DigitsDraw</title>
</head> 

<body> 
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

    <canvas id="drawingCanvas"></canvas>    

    <div class="btn-write-content">
        <button id="clear" class="btn btn-default btn-small" >清除</button>
        <button id="save" class="btn btn-primary btn-small" >保存</button>
    </div>

    <script src="{{static_url("js/digitsDraw.js")}}"></script>
  
</body> 
</html>

